#parent {
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
}

#create-service {
  width: 20%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
