<div fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column">
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email"
                 (click)="loginForm.controls.email.markAsTouched()">
          <mat-error id="errorEmail" *ngIf="loginForm.controls.email.invalid">Not a valid email</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input id="password" type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>

        <div fxLayoutGap="2%" fxLayout="column">
          <button color="primary" mat-raised-button type="submit" id="loginButton" [disabled]="!loginForm.valid">Login
          </button>
          <button mat-raised-button type="button" routerLink="/register" mat-button>Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
